


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chat_container{
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100vh;
    background-color: var(--card-color);
    direction: rtl;
    width: 100%;
}
.chat_contacts_list{
    direction: rtl;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    display: grid;
    align-items: start;
    justify-content: center;
    width: 320px;
    height: 100%;
    background-color: var(--background-color);
}
.chat_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}
.user_info{
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--white-color);
    font-size: 16px;
    font-weight: normal;
}
.user_profile{
    width: 40px;
    height: 40px;

}
.user_profile img{
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    border: none;
}

/* .chat_menu{} */

.menu_btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.contact_list{
    width: 100%;
    gap: 0px;

}
.supports_chat_pin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    padding: 10px;
}

.support_contant_right{
    display: flex;
    align-items: center;
    justify-content: start;
}   

.support_profile{
    width: 40px;
    height: 40px;
    background-color: var(--yellow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;


}

.support_profile img{
    width: 60%;
    height: 60%;
    border: none;
}
.support_content{
    display: grid;
    align-items: center;
    justify-content: start;
    color: var(--white-color);
    margin-right: 10px;
    font-size: 16px;
    font-weight: 300;
    max-width: 180px;
    white-space: nowrap;      /* نذاره متن بشکنه بره خط بعد */
    overflow: hidden;         /* متن اضافی رو مخفی کنه */
    text-overflow: ellipsis;  /* سه نقطه بذاره آخر متن */
}
.last_message{
    font-size: 14px;
    font-weight: 300;
    max-width: 180px;
    white-space: nowrap;      /* نذاره متن بشکنه بره خط بعد */
    overflow: hidden;         /* متن اضافی رو مخفی کنه */
    text-overflow: ellipsis;  /* سه نقطه بذاره آخر متن */
}
.chat_status{
    width: 13px;
    height: 13px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pin {
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    background-image: url(../img/icons/pin.svg);
   
}



.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    padding: 10px;

}
.contact:hover{
    background-color: var(--border-color);
}

.open{
    background-color: var(--card-color);
    border-left: 2px solid var(--color-primary);

}

.contact_contant_right{
    display: flex;
    align-items: center;
    justify-content: start;
}
.contact_profile{
    width: 40px;
    height: 40px;
}

.contact_profile img{
    width: 100%;
    height: 100%;   
    border-radius: 1000px;

}


.contact_content{
    display: grid;
    align-items: center;
    justify-content: start;
    color: var(--white-color);
    margin-right: 10px;
    font-size: 16px;
    font-weight: 300;

}
/* .chat_status{} */

.new_message{
    width: 10px;
    height: 10px;
    background-color: var(--border-color);
    border: none;
    border-radius: 100px;
    justify-self: star;
}




/*  کد های مربوط به اسکرول بار */
*::-webkit-scrollbar {
    width: 3px; /* عرض اسکرول بار */
}

*::-webkit-scrollbar-track {
    background: var(--background-color); /* رنگ مسیر اسکرول */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-border); /* رنگ دکمه اسکرول */
}






/* بخش کد های محتوای چت های مخاطب انتخاب شده */






.chat_contact_messages {
    flex: 1;               /* بقیه‌ی فضا رو بگیره */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh   ;
    overflow: hidden;
}
.contact_messages_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 10px 20px 10px 40px;
    height: 10%;

}
.logo{
    height: 40px;
}
.logo img {
    height: 100%;
}

.selected_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.back{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.messages_container{
    overflow-y: scroll;
    height: 80%;
    padding: 20px;  
    color: var(--white-color);
}
.messages_send{
    direction: rtl;
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: auto;
    justify-self: start;
    max-width: 500px;
    background-color: var(--border-color);
    padding: 15px;
    border: none;
    border-radius: 10px 10px 0px 10px;
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
}
.messages_receive{
    direction: ltr;
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: auto;
    max-width: 500px;
    justify-self: end;
    background-color: var(--background-color);
    padding: 15px;
    border: none;
    border-radius: 10px 10px 10px 0px;
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;

}




.data_sending_section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    padding: 10px 20px;
    height: 10%;
    width: 100%;          /* عرض کامل */
    box-sizing: border-box;

}

.data_sender_form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}


.files {
    flex: 0 0 auto;       /* فقط به اندازه خودش */
    margin: 10px;
    cursor: pointer;

}
.chat_input {
    flex: 1;              
    max-width: 90%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;   /* 🔹 اضافه کن */
    color: var(--white-color);
    padding-right: 20px;
}

.chat_input:focus {
    border: none;
    outline: none;   /* 🔹 حتما اینجا هم باشه */
}


.sender {
    flex: 0 0 auto;       /* ثابت بمونه */
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin: 10px;

}



/* حالت پیشفرض (دسکتاپ) */
.chat_contacts_list {
    display: block;
  }
  .chat_contact_messages {
    display: block;
  }
  
  /* حالت موبایل و تبلت (تا 1000px) */
  @media (max-width: 1000px) {

    .chat_contacts_list{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
    }
    .chat_container.mobile-chat-open .chat_contacts_list {
      display: none; /* وقتی چت باز شد، لیست مخفی بشه */
    }
    .chat_container.mobile-chat-open .chat_contact_messages {
      display: block; /* فقط چت نمایش داده بشه */
    }

  }
  